/LearnOpenGL/.vs/LearnOpenGL/v14/.suo
/LearnOpenGL/LearnOpenGL.VC.VC.opendb
/LearnOpenGL/LearnOpenGL.VC.db
/LearnOpenGL/LearnOpenGL/x64/
/LearnOpenGL/LearnOpenGL/Debug/
/LearnOpenGL/Debug/
/LearnOpenGL/x64/Debug/LearnOpenGL.pdb
/Lib/assimp-vc140-mt.lib
/LearnOpenGL/Debug
/LearnOpenGL/LearnOpenGL/Debug
/LearnOpenGL/LearnOpenGL/x64
/LearnOpenGL/LearnOpenGL/LearnOpenGL.vcxproj.filters
/LearnOpenGL/LearnOpenGL/LearnOpenGL.vcxproj.user
/LearnOpenGL/LearnOpenGL/LearnOpenGL.vcxproj
